.button {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    border-radius: 30px;
    padding: 9px 25px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--green);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.button:hover {
    background-color: var(--dark-green);
}

.button--large {
    padding: 15px 40px;
}