#faq_box .questions {
    flex: 2;
}

#faq_box .question {
    flex: 1;
}

#faq_box .question .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'involve';
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #292e35;
    background-color: #ecf3f7;
    padding: 12.5px 15px 12.5px 30px;
    border-radius: 10px;
}

#faq_box .question .title::after {
    content: '+';
    display: block;
    width: 40px;
    height: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    background-color: #b5c2d7;
    border-radius: 50%;
}

#faq_box .question .content {
    opacity: 0;
    visibility: hidden;
    transition-property: height;
    transition-duration: 1s;
}

#faq_box .question .content.is-active {
    opacity: 1;
    visibility: visible;
}

#faq_box .image {
    flex: 1;
}

#faq_box .image img {
    max-width: none;
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
}