#faq_box .questions {
    flex: 2;
}

#faq_box .faq {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

#faq_box .question {
    flex: 1;
    /* margin-bottom: 20px; */
    transition: all 0.3s ease;
}

#faq_box .question .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-family: 'involve';
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #292e35;
    background-color: #ecf3f7;
    padding: 12.5px 15px 12.5px 30px;
    border-radius: 10px;
    margin-bottom: 0;
    cursor: pointer;
}

#faq_box .question .content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#faq_box .question .title::after {
    content: '+';
    display: block;
    width: 40px;
    height: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    background-color: #b5c2d7;
    border-radius: 50%;
    flex: 0 0 auto;
}

#faq_box .question .title.is-active::after {
    content: '-';
}

#faq_box .question .content {
    opacity: 0;
    visibility: hidden;
    transition-property: height;
    transition-duration: 1s;
}

#faq_box .question .content.is-active {
    opacity: 1;
    visibility: visible;
}

#faq_box .image {
    flex: 1;
    border-radius: 20px;
}

#faq_box .image img {
    max-width: none;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    max-height: 320px;
}


@media (max-width: 1023px) {
    #faq_box .faq {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    #faq_box .questions {
        grid-row: 2/3;
    }

    #faq_box .image img {
        max-height: 500px;
    }
}

@media (max-width: 769px) {
    #faq_box .question .content. {
        font-size: 14px;
    }
}