@media (max-width: 769px) {
    .header-group {
        display: flex;
        gap: 20px;
    }
}

@media (max-width: 500px) {

    .header-contact-1,
    .header-contact-2 {
        font-size: 12px;
    }

    .header-group {
        gap: 5px;
    }
}