/* Импорт шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');


/* Импорт кастомных стилей для компонентов */
@import './block/button.css';
@import './block/menu-button.css';
@import './block/menu.css';
@import './block/swiper.css';
@import './block/sliders.css';
@import './block/decor.css';
@import './block/scrool-top.css';
@import './block/video.css';
@import './block/breadcrumbs.css';

@import './block/info_box.css';
@import './block/history_box.css';
@import './block/gallery_box.css';
@import './block/sertificates_box.css';
@import './block/faq_box.css';
@import './block/reviews_box.css';
@import './block/banner_box.css';

@import './block/news_box.css';
@import './block/map_box.css';

@import './block/services-menu.css';


/* Импорт TailWind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Зарегистрируйте пользовательское семейство шрифтов и сообщите браузеру, где его найти. */
@font-face {
    font-family: 'involve';
    src: url('../src/fonts/Involve-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'involve';
    src: url('../src/fonts/Involve-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'involve';
    src: url('../src/fonts/Involve-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'involve';
    src: url('../src/fonts/Involve-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'involve', sans-serif;
        color: #292e35;
        background: linear-gradient(166deg, #FFF 5.27%, rgba(255, 255, 255, 0.00) 78.75%);
        font-weight: 400;
    }
}

@layer components {
    .container {
        @apply max-w-[1440px]
    }
}

/* Переменные */
:root {
    --black: #292e35;
    --green: #6cb778;
    --white: #fff;
    --gray: #b5c2d7;
    --light-gray: #ecf3f7;
}

/* Директивы классов */


/* Прочие классы */

section {
    position: relative;
}

section+section {
    margin-top: 120px;
}

.section {
    --indent: 11vw;
    background-color: #ffffff;
}

.section:not(:last-child) {
    margin-bottom: calc(0px - var(--indent));
}

.section+.section {
    padding-top: calc(var(--indent) + 100px);
}

.section:nth-child(odd) {
    background-color: #ecf3f7;
}

.section:not(:last-child)::after {
    content: '';
    display: block;
    width: 100%;
    height: var(--indent);
    background-color: #ffffff;
    mask-image: url(../src/img/ellipse.svg);
    mask-repeat: no-repeat;
    mask-position: center bottom;
}

.section:not(:last-child):nth-child(odd)::after {
    background-color: #ecf3f7;
}

h2 {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 50px;
}

h3 {
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 40px;
}

h2,
h3 {
    font-weight: 500;
}

h2 span,
h3 span {
    font-weight: 700;
}

p {
    font-size: 18px;
    line-height: 24px;
}

.lock {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.show_all {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'involve';
    font-size: 16px;
    font-weight: 600;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #b5c2d7;
}

.show_all::after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-color: #b5c2d7;
    mask-image: url(../src/img/arrow.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    margin-left: 12px;
}

.link {
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--green);
}